:root{
    --fundo:#1b1b1b;
    --cor-tecla:tomato;
    --cor-caminho:lightgreen;
}
body{
    background-color: var(--fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
}
table{
    margin-bottom: 3%;
}

table, td{
    border: solid white;
}
.tecla{
    background-color: var(--cor-tecla);
    text-align: center;
    width: 20px;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.bottom{
    position: absolute;
    top: auto;
    bottom: 0;
}


#elemento0,#elemento1,#elemento2,#elemento3{
    display:block;
    height: 40px;
    width: 40px;
    background-color: var(--cor-caminho) ;
}

article{
    /* position: absolute; */
    width: 40px;
    height: 40px;
    background-color: blueviolet;
}