:root{
    --fundo:#ff0000;
    --cor-tecla:tomato;
}
body{
    background-color: var(--fundo);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
table, td{
    border: solid white;
}
.tecla0, .tecla1, .tecla2, .tecla3{
    text-align: center;
    width: 20px;
    border-radius: 5px;
    padding: 10px;
    color: white;
}